<div class="container">

    <div class="container text-center mt-3 mb-1 border-bottom pb-3">
        <h3>Investors List.</h3>
    </div>

    <% if (investors.length === 0) { %>

        <div class="container card-body bg-light text-center border rounded-3 mt-3">
            <p class="fs-3">Sorry! No Investors in the list.</p>
            <p class="fs-5">Please come back later :)</p>
            <a href="/" class="btn btn-outline-primary btn mt-1 mb-3">Go to Home</a>
        </div>

    <% } %>

    <% investors.forEach(investor => { %>
        
        <main>
            <div class="container py-4">
                <div class="pt-1 pb-1 pl-5 pr-5 mb-4 bg-light border rounded-3">
                    <div class="container-fluid py-5">
                        <section class="container d-flex justify-content-between">
                            <h4 class=" fw-bold text-center mb-5">Investor : <%= investor.name %> </h4>
                            <a href="mailto:<%= investor.mail %> " class="fs-2"><i class="uil uil-envelope-edit text-primary"></i></a>
                        </section>
                        <p class="col-md-8 fs-6"><Strong>Contact Details :</Strong> <%= investor.contactMode === 'email' ? investor.email : investor.phoneNumber%> </p>
                        <p class="col-md-8 fs-6"><Strong>Funding Type :</Strong> <%= investor.fundingType %> </p>
                        <p class="col-md-8 fs-6"><Strong>Investment Range :</Strong> <%= investor.capabilities.minAmount %> to <%= investor.capabilities.maxAmount %> Rs. </p>
                        <p class="col-md-8 fs-6"><Strong>Domain Preferences :</Strong> <%= investor.domainPreferences %> </p>
                        <p class="col-md-8 fs-6"><Strong>Mode of communication :</Strong> <%= (investor.contactMode).toUpperCase() %> </p>
                        <p class="col-md-8 fs-6"><Strong>Bio/Description :</Strong> <%= investor.description %> </p>
                        <p class="col-md-8 fs-6"><Strong>Address :</Strong> <%= investor.address.address1 %> </p>
                        <p class="col-md-8 fs-6"><Strong>Address :</Strong> <%= investor.address.address2 %> </p>
                        <p class="col-md-8 fs-6"><Strong>City :</Strong> <%= investor.address.city %> </p>
                        <p class="col-md-8 fs-6"><Strong>State :</Strong> <%= investor.address.state %> </p>
                        <p class="col-md-8 fs-6"><Strong>Zip :</Strong> <%= investor.address.zip %> </p>
                    </div>
                </div>
            </div>
        </main>

    <% }) %>

</div>