<div class="container">
    <div class="card card-body mt-3 mb-3">
        <form action="/users/<%= userType.toLowerCase() %>/profileEdit" method="POST">
            <fieldset>
                <legend>
                    <h1 class="mb-1 text-center fs-2">Edit your profile .</h1>
                </legend>
                <%- include ("./partials/messages") %> 
                <div class="form-group">
                    <label for="name">Name</label>
                    <input
                        autocomplete="off"
                        type="name"
                        id="name"
                        name="name"
                        class="form-control"
                        placeholder="Enter Name"
                        value="<%= typeof name != 'undefined' ? name : '' %>"
                    />
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="<%= typeof email != 'undefined' ? email : '' %>">
                    <small id="emailHelp" class="form-text text-muted">Cannot change your mail!</small>
                </div>
                <div class="form-group">
                    <label for="password">Current Password</label>
                    <input
                        type="password"
                        id="password"
                        name="password"
                        class="form-control"
                        placeholder="Current Password"
                    />
                </div>
                <div class="form-group">
                    <label for="password2">New Password</label>
                    <input
                        type="password"
                        id="newPassword"
                        name="newPassword"
                        class="form-control"
                        placeholder="Confirm Password"
                    />
                </div>
                <div class="form-group">
                    <label for="password2">Confirm New Password</label>
                    <input
                        type="password"
                        id="newPassword2"
                        name="newPassword2"
                        class="form-control"
                        placeholder="Confirm Password"
                    />
                </div>

                <div class="form-group">
                    <label for="phoneNumber" class="form-label">Contact Number :</label>
                    <input type="number" class="form-control" id="phoneNumber" placeholder="Enter Phone Number" name="phoneNumber" value="<%= typeof phoneNumber != 'undefined' ? phoneNumber : '' %>">
                </div>

                <% if (userType === 'Client') { %>

                    <div class="form-group">
                        <label for="name">Business Name :</label>
                        <input
                            autocomplete="off"
                            type="name"
                            id="name"
                            name="startupName"
                            class="form-control"
                            placeholder="Enter Name"
                            value="<%= typeof startupName != 'undefined' ? startupName : '' %>"
                        />
                    </div>

                    <div class="form-group">
                        <label for="domain" class="form-label">Select Domain :</label>
                        <select class="form-select" id="domain" name="domain" required>
                            <option selected>Automotive Products & Services</option>
                            <option>Aviation</option>
                            <option>Construction</option>
                            <option>Education & Training</option>
                            <option>Food & Beverage</option>
                            <option>Hospitality, Restaurants & Bars</option>
                            <option>Lifestyle</option>
                            <option>Marketing & Advertising</option>
                            <option>Medical, Pharmaceticals & Health Care</option>
                            <option>Real Estate</option>
                            <option>Social Entrepreneurship</option>
                            <option>Transportation</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label for="companyAge" class="form-label">Company Age :</label>
                        <input type="number" class="form-control" id="companyAge" placeholder="0" name="companyAge" value="<%= typeof companyAge != 'undefined' ? companyAge : '' %>">
                    </div>
                    
                    <div class="form-group">
                        <label for="description" class="form-label mt-1">Give your Startup Description :</label>
                        <textarea class="form-control" id="description" rows="3" name="description"><%= typeof description != 'undefined' ? description : '' %></textarea>
                    </div>
                    
                    <div class="form-group">
                        <label for="fundingType" class="form-label">Funding Required :</label>
                        <select id="fundingType" class="form-select" name="fundingType">
                            <option selected>Seed Funding</option>
                            <option>Crowd Funding</option>
                            <option>Angel Funding</option>
                        </select>
                    </div>

                <% } %>

                <!-- Fields for Investor -->
                <% if (userType === 'Investor') { %>

                    <div class="form-group">
                        <label for="fundingType" class="form-label">Funding Type :</label>
                        <select id="fundingType" class="form-select" name="fundingType">
                            <option selected>Seed Funding</option>
                            <option>Crowd Funding</option>
                            <option>Angel Funding</option>
                        </select>
                    </div>

                    <div class="row mb-1">
                        <label for="">Investment Range :</label>
                        <div class="col">
                            <input type="number" class="form-control" placeholder="Minimum" aria-label="Minimum Amount" name="minAmount" value="<%= typeof minAmount != 'undefined' ? minAmount : '' %>">
                            <label for="">Rs.</label>
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" placeholder="Maximum" aria-label="Maximum Amount" name="maxAmount" value="<%= typeof maxAmount != 'undefined' ? maxAmount : '' %>">
                            <label for="">Rs.</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="domainPreferences" class="form-label">What Industries/Startups do you prefer to invest in ? </label>
                        <select class="form-select" multiple="" id="domainPreferences" name="domainPreferences" required>
                            <option selected>Automotive Products & Services</option>
                            <option>Aviation</option>
                            <option>Construction</option>
                            <option>Education & Training</option>
                            <option>Food & Beverage</option>
                            <option>Hospitality, Restaurants & Bars</option>
                            <option>Lifestyle</option>
                            <option>Marketing & Advertising</option>
                            <option>Medical, Pharmaceticals & Health Care</option>
                            <option>Real Estate</option>
                            <option>Social Entrepreneurship</option>
                            <option>Transportation</option>
                        </select>
                    </div>

                    <fieldset class="form-group">
                        <legend class="mt-4">How would you like a Client to contact ?</legend>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="contactMode" id="optionsRadios1" value="email" checked="">
                                Email
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="contactMode" id="optionsRadios2" value="phone">
                                Phone
                            </label>
                        </div>
                    </fieldset>

                    <div class="form-group">
                        <label for="exampleTextarea" class="form-label mt-4"><strong>Describe yourself</strong></label>
                        <p>You should try to include the following information :</p>
                        <p> • Personal information ( age, martial status, location )</p>
                        <p> • Professional experience ( eg. current position, prof. qualifications )</p>
                        <p> • Other value - adds ( experience, contacts )</p>
                        <p> • Status ( eg. individual investor, third party investor, investment group )</p>
                        <textarea class="form-control" id="description" rows="3" name="description"><%= typeof description != 'undefined' ? description : '' %></textarea>
                    </div>

                <% } %>

                <div class="form-group">
                    <label for="inputAddress" class="form-label">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="address1" value="<%= typeof address1 != 'undefined' ? address1 : '' %>">
                </div>
                <div class="form-group">
                    <label for="inputAddress2" class="form-label">Address 2</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" name="address2" value="<%= typeof address2 != 'undefined' ? address2 : '' %>">
                </div>
                <div class="form-group">
                    <label for="inputCity" class="form-label">City</label>
                    <input type="text" class="form-control" id="inputCity" name="city" value="<%= typeof city != 'undefined' ? city : '' %>">
                </div>
                <div class="form-group">
                    <label for="inputState" class="form-label">State</label>
                    <select id="inputState" class="form-select" name="state">
                        <option selected>Telangana</option>
                        <option>Andhra Pradesh</option>
                        <option>Tamil Nadu</option>
                        <option>Karnataka</option>
                        <option>Delhi</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputZip" class="form-label">Zip</label>
                    <input type="text" class="form-control" id="inputZip" name="zip" value="<%= typeof zip != 'undefined' ? zip : '' %>">
                </div>
                
                <button type="submit" class="btn btn-primary mb-1">Save changes</button>
            </fieldset>
        </form>
    </div>
</div>
<br>